In [22]:
import pandas as pd
import pickle
import numpy as np
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import recall_score,precision_score,accuracy_score

In [2]:
df_train=pd.read_csv("C:\\Users\\vamsi\\Downloads\\Projects\\train.csv")

In [3]:
df_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df_train["Gender"].fillna(df_train["Gender"].mode()[0],inplace=True)
df_train["Married"].fillna(df_train["Married"].mode()[0],inplace=True)
df_train['Dependents'].fillna(df_train["Dependents"].mode()[0],inplace=True)
df_train["Self_Employed"].fillna(df_train["Self_Employed"].mode()[0],inplace=True)
df_train["Credit_History"].fillna(df_train["Credit_History"].mode()[0],inplace=True)
df_train["Loan_Amount_Term"].fillna(df_train["Loan_Amount_Term"].mode()[0],inplace=True)
df_train["LoanAmount"].fillna(df_train["LoanAmount"].median(),inplace=True)

In [5]:
LE = LabelEncoder()

In [6]:
df_train['Gender']=LE.fit_transform(df_train['Gender'])

In [7]:
df_train['Married']=LE.fit_transform(df_train['Married'])

In [8]:
df_train['Education']=LE.fit_transform(df_train['Education'])

In [9]:
df_train['Self_Employed']=LE.fit_transform(df_train['Self_Employed'])

In [10]:
df_train['Loan_Status']=LE.fit_transform(df_train['Loan_Status'])

In [11]:
df_train = pd.get_dummies(df_train,columns=['Property_Area'])

In [12]:
df_train=df_train.drop(['Loan_ID',"Dependents"],axis=1)

In [13]:
df_train.head()

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,1,0,0,0,5849,0.0,128.0,360.0,1.0,1,0,0,1
1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,1,0,0
2,1,1,0,1,3000,0.0,66.0,360.0,1.0,1,0,0,1
3,1,1,1,0,2583,2358.0,120.0,360.0,1.0,1,0,0,1
4,1,0,0,0,6000,0.0,141.0,360.0,1.0,1,0,0,1

In [14]:
x=df_train.drop(["Loan_Status"],axis=1)
y=df_train["Loan_Status"]

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=10)

In [16]:
smote=SMOTE(random_state=10,k_neighbors=5)
X_train_SMOTE,y_train_SMOTE=smote.fit_resample(x_train,y_train)

In [17]:
model = BaggingClassifier()
model = model.fit(X_train_SMOTE,y_train_SMOTE)

In [18]:
model.score(x_train,y_train)

0.991304347826087

In [23]:
accuracy_score(y_test,model.predict(x_test))

0.7402597402597403

In [24]:
with open("Home_Loan.pkl","wb") as file:
    pickle.dump(model,file)  
    file.close()

In [25]:
with open("Home_Loan.pkl","rb") as file:
    Pickled_Ba_Model = pickle.load(file)

In [26]:
Ypredict = Pickled_Ba_Model.predict(x_test)

In [27]:
Ypredict

array([1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1])